# SERVER
PORT=3000
NODE_ENV=development

# DATABASE (Postgres)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/researchflow?schema=public"

# REDIS CACHE / BULLMQ
REDIS_HOST=localhost
REDIS_PORT=6379

# AI & VECTOR STORE
GEMINI_API_KEY="your_api_key_here"
QDRANT_URL="http://localhost:6333"

# SECURITY
JWT_SECRET="replace_me_with_a_super_secret_string"
